/*
    Colors:

    #130f30
    #1e5262
    #30849e
    #53aeca
    #daeef4
*/

* {
    box-sizing: border-box;
}

html
{
    background-color: #daeef4;
    overflow-y: scroll;
}

body
{
    font-family: sans-serif;
    font-size: 130%;

    color: #130f30;
    background-color: #fff;

    padding: 3%;

    width: 70%;
    max-width: 1000px;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 5%;
}

nav p {
    margin: 0.45em auto;
}

h2{
    font-size: 130%;
    margin-top: 1em;
}

#pause
{
    font-size: 90%;
}

/* Links */
a, a:visited
{
	text-decoration: none;
    color: #30849e;
}

a:hover, a:active
{
	text-decoration: underline;
}

/* Form elements */
input, option, button
{
	padding: 6px 10px;
    height: 3em;
    margin: 0.2em auto;
}

input[type=submit]
{
    padding: 6px 14px;
    border: none;
    background-color: #53aeca;
    text-shadow: 1px 1px 7px #130f30;
    color: white;
    align-self: center;
    outline: 0;
}



input::-moz-focus-inner { 
  border: 0; 
}

input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus
{
    box-shadow: 1px 1px 20px rgba(12,32,38,0.5);
    text-shadow: none;
    outline: 0;
    cursor: default;
}
input[type=submit]:disabled, input[type=submit]:disabled:hover
{
    color: #daeef4;
    background-color: #53aeca;
    text-shadow:none;
    opacity: 0.8;
    box-shadow: none;
}
input[type=text], input[type=email], input[type=password], input[type=number], select, textarea
{
    border: none;
    background-color: #daeef4;
    
    border: 2px solid #daeef4;
}

input[type=text], input[type=email], input[type=password]
{
     min-width: 36ch;
}


   

input[type=checkbox]
{
    vertical-align: middle;
    padding: 5px;
    margin-right: 10px;

    position: relative;
}

input[type=checkbox] + label
{
    font-size: 85%;
    -moz-user-select: none;
}
input::-moz-placeholder
{
    color: #000;
    text-shadow: 1px 1px 5px #30849e;
}

input[type=text]:hover, input[type=password]:hover, input[type=number]:hover, select:hover, textarea:hover
{
    border-bottom-color: #53aeca;
    transition: 0.1s border-bottom-color ease-in-out;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, textarea:focus
{
    border-bottom-color: #30849e;
    transition: 0.45s border-bottom-color ease-in-out;
}

select
{
	padding-left: 8px;
}

option
{
    margin: auto;
    padding: 10px
}

/* Inline elements */
abbr
{
	text-decoration: none;
}

.error
{
    color: red;
}

.caps
{
    text-transform: capitalize;
}

button.del
{
    padding: 1px 3px;
    margin-right: 7px;
    color: red;
}


.schicht4
{
    border-left: solid 8px black;
}

.schicht1
{
    border-left: solid 8px green;
}
.schicht2
{
    border-left: solid 8px red;
}
.schicht3
{
    border-left: solid 8px blue;
}

.schichtna
{
    border-left: solid 8px black;
}

.lspace
{
    padding-left: 1ch;
    display: inline-block;
}

.load99
{
    padding-left: 2em;
    background: url("90.png") no-repeat 0.5em center;
    background-size: 1em 1em;
}
.load66
{
    padding-left: 2em;
    background: url("66.png") no-repeat 0.5em center;
    background-size: 1em 1em;
}
.load33
{
    padding-left: 2em;
    background: url("33.png") no-repeat 0.5em center;
    background-size: 1em 1em;
}
.load00
{
    padding-left: 2em;
    background: url("01.png") no-repeat 0.5em center;
    background-size: 1em 1em;
}


table
{
    border: solid 2px gray;
    padding: 10px;
}

tr:nth-child(even)
{
    background-color: #eee;
}

th, td
{
    border-collapse: collapse;
    padding: 6px 10px;
}

td:nth-child(4)
{
    text-align: center;
}
td:nth-child(5)
{
    text-align: right;
}

tr:hover:not(:first-child)
{
    background-color: #d8d8ff;
}


.box
{
    flex: auto;
    width: 100px;
    height: 100px;
    background-color: #113;
    display: inline-block;
    margin: 0 10px;
}

.black
{
    background-color: black;
}

.good { color: green; }

.bad { color: orangered; }

.flex
{
    display: flex;
    margin-top: -1em;
    padding: 0;
}

.flex *
{
    flex: 1 1 25%;
}

.flex p
{
    font-weight: bold;
}

.download:before
{
    content: "\⇣ ";
}

textarea
{
    resize: none;
    padding: 6px;
    font-size: 0.95em;
}